body {
  padding: clamp(2rem, 10vh, 8rem) clamp(1rem, 5vw, 6rem);
  background-image: url(./images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-color: hsl(275, 100%, 97%);
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: clamp(1rem, 1vw, 1.125rem);
  background-size: contain;
}

main {
  background-color: white;
  border-radius: 10px;
  padding: clamp(1rem, 10vw, 5rem);
}

header {
  display: flex;
  gap: 5%;
  align-items: center;
  font-size: clamp(1rem, 2vw, 1.56rem);
}

header > img {
  height: 1.875rem;
}

.questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions > img:hover {
  cursor: pointer;
}

h2 {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
}

h2:hover {
  cursor: pointer;
  color: hsl(292, 16%, 49%);
}

h2:focus {
  color: hsl(292, 16%, 49%);
}

p {
  font-size: clamp(0.875rem, 1.2vw, 1rem);
}

.hidden {
  display: none;
}

@media (min-width: 48rem) {
  body {
    padding: clamp(2rem, 10vh, 8rem) clamp(1rem, 8vw, 10rem);
    background-image: url(./images/background-pattern-desktop.svg);
    background-size: contain;
  }

  main {
    width: 70%;
  }
}
